/* ===================================
   EVERYTHING
   =================================== */

* {
    font-family: 'JetBrains Mono';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    /* padding: 0 0 40px 0; */
}