/* ===================================
   EVERYTHING
   =================================== */

* {
    font-family: 'JetBrains Mono';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --card-color: #f5f5f5;
    --body-color: #e2e8f0;
    --h1-font-size: 2em;
    --h2-font-size: 1.45em;
    --h3-font-size: 1.1em;
    --h4-font-size: 0.8em;
    --icon-size: 2.5em;
    --button-radius: 8px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

button,
a,
img.light-dark-mode,
img.delete:hover {
    cursor: pointer;
}

a {
    color: #1d1d1d;
    text-decoration: none;
}

a:visited {
    color: #1d1d1d;
}

a:hover {
    text-decoration: overline;
}

/* ===================================
   HEADER
   =================================== */
.header,
.header-right {
    display: flex;
}

.header {
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--card-color);
    padding: 45px;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
}

.header-right {
    align-items: center;
}

.header img {
    height: var(--h1-font-size);
    margin: 0 0 0 35px;
}

.header button {
    padding: 8px 16px;
    border-radius: var(--button-radius);
    border: solid 1px;
}

/* ===================================
   BODY & BOOK CARDS
   =================================== */
.container {
    background-color: var(--body-color);
    height: 100vh;
}

.book-container {
    display: flex;
    margin: 30px;
}

.book-card {
    display: flex;
    flex-direction: column;
    background: var(--card-color);
    margin: 15px;
    padding: 15px;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
}

.book-value {
    padding: 10px;
}

.book-card .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-card .delete-button,
.book-card img {
    height: var(--h2-font-size);
    justify-content: flex-end;
}

.book-card .delete-button {
    background-color: var(--card-color);
    border: none;
}

.book-card .delete-button:hover {
    cursor: default;
}

.book-card img:hover {
    cursor: pointer;
}

/* ===================================
   MODAL
   =================================== */

dialog {
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    margin: auto;
}

dialog legend {
    font-size: var(--h2-font-size);
    padding: 0 0 20px 0;
    align-items: center;
}

dialog fieldset {
    border: none;
    padding: 0 0 20px 0 ;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

dialog #form-read {
    width: 50%;
}

label {
    text-transform: uppercase;
}

input[type="text"],
input[type="number"] {
    margin: 0 0 20px 0;
    padding: 5px;
    font-weight: 300;
    background: transparent;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-size: var(--h3-font-size);
}

input:focus {
    outline: none;
    border-bottom: 1px solid #0075fc;
}

dialog .modal-buttons {
    display: flex;
    justify-content: space-evenly;
}

dialog button {
    border-radius: var(--button-radius);
    padding: 5px 12px;
    border: solid 1px;
}

dialog::backdrop {
    backdrop-filter: blur(3px);
}

/* ===================================
   FOOTER
   =================================== */
.footer {
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 5px 0;
}